# =======================
# IntelliJ IDEA
# =======================
*.iml
.idea/
*.iws
*.ipr
out/

# =======================
# Maven
# =======================
/target/
/pom.xml.tag
/pom.xml.releaseBackup
/pom.xml.versionsBackup
/logs/
/dependency-reduced-pom.xml
/buildNumber.properties
/release.properties

# =======================
# Gradle (au cas où)
# =======================
/build/
/.gradle/
/gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties

# =======================
# Spring Boot
# =======================
/spring-boot.log
*.log

# =======================
# Configuration sensibles
# =======================
application.properties
application.yml
*.secret
*.env

# =======================
# System files
# =======================
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# =======================
# IDE & Editors
# =======================
.vscode/
*.swp
