services:
  db:
    image: postgres:15
    container_name: pg_dev
    environment:
      POSTGRES_USER: devuser
      POSTGRES_PASSWORD: devpass
      POSTGRES_DB: devdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata_fresh_start:/var/lib/postgresql/data  # Changement de nom du volume

volumes:
  pgdata_fresh_start: # Changement de nom du volume
